name: Reference Implementation tests

on:
  push:
    branches: [ main ]
    paths:
      - 'test-vectors.json'
      - 'reference-implementation/**'
      - '.github/workflows/ci.yml'
  pull_request:
    branches: [ main ]
    paths:
      - 'test-vectors.json'
      - 'reference-implementation/**'
      - '.github/workflows/ci.yml'

jobs:
  test:
    name: Test
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Install Rust toolchain
      uses: dtolnay/rust-toolchain@stable

    - name: Cache cargo registry
      uses: actions/cache@v4
      with:
        path: ~/.cargo/registry
        key: ${{ runner.os }}-cargo-registry-${{ hashFiles('**/Cargo.lock') }}

    - name: Cache cargo index
      uses: actions/cache@v4
      with:
        path: ~/.cargo/git
        key: ${{ runner.os }}-cargo-index-${{ hashFiles('**/Cargo.lock') }}

    - name: Cache cargo build
      uses: actions/cache@v4
      with:
        path: reference-implementation/target
        key: ${{ runner.os }}-cargo-build-target-${{ hashFiles('**/Cargo.lock') }}

    - name: Run tests
      run: cargo test
      working-directory: ./reference-implementation

    - name: Verify test vectors
      run: cargo run --bin verify-test-vectors -- <../test-vectors.json
      working-directory: ./reference-implementation

    - name: Verify test vectors with Circl verifier
      working-directory: ./reference-implementation/circl-verifier
      run: |
        go build -v
        ./circl-verifier ../tests/rfc9180.json
        ./circl-verifier ../../test-vectors.json
